#Card_container {
  width: 20rem;
  margin: 10px;
}
#Card_buttons {
  display: flex;
  justify-content: center;
}
.Card_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
}
